global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s

frontend http_front
    bind *:80
    default_backend backend_nodes

backend backend_nodes
    balance roundrobin
    option httpchk GET /health
    default-server inter 1s fall 1 rise 1
    server backend1 backend1:3000 check
    server backend2 backend2:3000 check
    server backend3 backend3:3000 check backup
